*
!dom-distill/
!dom-distill/*/
!program_analysis/
!program_analysis/*/
!program_analysis/**/
!scripts/
!scripts/*/
!parser/
!pyutils/
!tests/
!deps/
!deps/*
!filter-lists/
!filter-lists/*

!*js
!*py
!*sh
!*md

pyutils/inspectMahimahiProto.py

