*
!dom-distill/
!dom-distill/*/
!program_analysis/
!program_analysis/*/
!program_analysis/**/
!scripts/
!scripts/*/
!parser/
!pyutils/

!filter-ads-trackers/
!filter-ads-trackers/*

!*js
!*py
!*sh
!*md
