*
!dom-distill/
!dom-distill/*/
!program_analysis/
!program_analysis/*/
!program_analysis/**/
program_analysis/node_modules/
program_analysis/instOutput
!scripts/
!scripts/*/
!scripts/**/
!parser/
!pyutils/
!tests/
!deps/
!deps/*
!filter-lists/
!filter-lists/*
!data/
!data/plots/*
!eval
!eval/*
!*js
!*py
!*sh
!*md
!crawler/
!js-formats/
!quick_scripts/
!vm-scripts/
pyutils/inspectMahimahiProto.py

